<ion-header style="height: 50px;
  background-color: #E96FA1;">

  <ion-icon item-right class="optionsStyle pop-in" (click)="dismiss()" name="close"></ion-icon>


  <ion-title style="width: 66vw; position: relative; top: 20px; left: 10vw;">
    <span style="font-size: 17px;color: white; font-weight: bold">List des nvitations</span>
  </ion-title>
</ion-header>


<ion-content no-padding fullscreen class="invitation-list">
  <ion-grid>

    <ion-scroll id="scrollBar" scrollY="true" style="white-space: nowrap; height: 100%; width: 100%;
    ">
      <div *ngFor="let invit of invitationList">

        <ion-item *ngIf="invit.invitatorId == tabParams.userId && invit.contactExist == false
        && invit.status == 'pending'">
          <ion-item no-lines>
            <p><b>Vous avez invité</b> {{invit.invitedEmail}}</p>
          </ion-item>
          <ion-item style="margin-top: -17px">
            <p>{{transform(invit.dateOfCreation)}}
              <ion-badge class="pull-right" style="float:right; background-color: darkorange" slot="end">pending...</ion-badge>
            </p>
          </ion-item>
        </ion-item>

        <ion-item *ngIf="invit.invitatorId == tabParams.userId && invit.contactExist == true
        && invit.status == 'pending'">
          <ion-item no-lines>
            <p><b>Vous avez invité</b> {{invit.invitedFullname}}</p>
          </ion-item>
          <ion-item style="margin-top: -17px">
            <p>{{transform(invit.dateOfCreation)}}
              <ion-badge class="pull-right" style="float:right; background-color: darkorange" slot="end">pending...</ion-badge>
            </p>
          </ion-item>
        </ion-item>

        <ion-item *ngIf="invit.invitatorId != tabParams.userId && invit.invitedId == tabParams.userId
        && invit.contactExist == true && invit.status == 'pending'">
          <ion-item>
            <p><b>Vous avez été invité par </b> {{invit.invitorFullname}}</p>
          </ion-item>
          <ion-item style="margin-top: -17px">
            <p>{{transform(invit.dateOfCreation)}}
              <button ion-button class="pull-right" style="float:right;" color="danger" slot="end">rejeter</button>
              <button ion-button (click)="acceptInvitation(invit)" class="pull-right" style="float:right;" color="primary"
                slot="end">accepter</button>
            </p>
          </ion-item>
        </ion-item>

        <ion-item *ngIf="invit.invitatorId == tabParams.userId && invit.contactExist == true 
        && invit.status == 'accepted' ">
          <ion-item>
            <p>{{invit.invitedFullname}} <b>a accepté votre invitation.</b></p>
          </ion-item>

          <ion-item style="margin-top: -17px">
            <p>{{transform(invit.dateOfCreation)}}
              <ion-badge class="pull-right" style="float:right; background-color: green" slot="end">accpte</ion-badge>
            </p>
          </ion-item>

        </ion-item>


        <ion-item *ngIf="invit.invitatorId == tabParams.userId && invit.contactExist == true
        && invit.status == 'rejected' ">
          <ion-item>
            <p>{{invit.invitedFullname}} <b>a rejeté votre invitation.</b></p>
          </ion-item>
          <ion-item style="margin-top: -17px">
            <p>{{transform(invit.dateOfCreation)}}
              <ion-badge class="pull-right" style="float:right;" color="danger" slot="end">rejete</ion-badge>
            </p>
          </ion-item>

        </ion-item>

      </div>

    </ion-scroll>

  </ion-grid>


</ion-content>
