<ion-menu [content]="content" id="menu-material">
  <ion-content>
    <ion-row style="height: 180px; background-size: contain; background-image: url(../assets/imgs/menu-bg-blue.png);">
      <img id="profile-image-menu" [src]='url + "/" + userData.userImage'>
      <span id="profile-name-menu">{{userData.userFullname}}</span>
    </ion-row>
    <ion-list>
      <ion-item menuClose ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon style="color:black" [name]="p.icon" item-left></ion-icon>
        <span style="background-color: white; color: black"  *ngIf="p.title != 'Communauté'">
          {{p.title}}
        </span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>