<!-- Nav menu bar 

<ion-menu [content]="content" id="menu-material">
  <ion-content>
    <div class="menu-header">
      <img class="user-avatar round" src={{user.profileImage}} onerror="this.src='assets/img/avatar/girl-avatar.png'" />
      <p class="name">{{user.name}}</p>
      <p class="e-mail">pbolliger@email.com</p>
    </div>
    <ion-list no-lines>
      <button menuClose ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>


-->



<ion-menu [content]="content" id="menu-material">
  <ion-content>
    <div #header>
      <ion-item>
          <ion-label>Menu</ion-label>
      </ion-item>
    </div>
    <ion-list no-lines>
      <button menuClose ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        <span *ngIf="p.title != 'Communaute'">
          {{p.title}}
        </span>
        <span (click)="toggleCommunitymenu()" *ngIf="p.title == 'Communaute'">
          {{p.title}}
        </span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>



<ion-menu [content]="content" id="menu-community">
  <ion-content>
    <div #header>
      <ion-item ion-item no-line>
        <ion-icon (click)="backToMainMenu()" name="arrow-back" item-left></ion-icon>
        <span style="font-size:4vw; color:silver"><b>Changer la communaute</b></span>
        <ion-icon (click)="goToAddCommunityModal()" name="add" item-right></ion-icon>
      </ion-item>
    </div><br>

    <ion-list no-lines *ngFor="let community of allCommunitiesbyUserId">

      <ion-item style="border-left: 5px solid silver" *ngIf="community.selected == 'true'">
        {{community.communityName}}
      </ion-item>

      <ion-item *ngIf="community.selected == 'false'">
        <span (click)="selectCommunity(community.communityId)" >
          {{community.communityName}}
        </span>
     <!-- Added an image 
       <img [src]='url + "/" + community.communityLogo' />
     -->
     <ion-icon *ngIf="optionsMore == true && community.communityId == editableCommunity" style="color: silver" 
     (click)="editCommunity()" item-right name="create"></ion-icon> 
     <ion-icon *ngIf="optionsMore == true && community.communityId == editableCommunity" style="color: silver;
     border-left: 1px solid silver;padding-left: 10px;" (click)="deletCommunity()" item-right name="trash"></ion-icon> 
    
     <ion-icon  *ngIf="optionsMore == false || userData.userId == community.communityCreator && community.communityId != editableCommunity" style="color: silver" item-right name="more" 
        (click)="presentPopover(community.communityId)" ></ion-icon>
     
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>




<!--Right side menu 
  <ion-menu side="right" type="push" [content]="content" id="menu-right">
    <ion-content>
      <ion-list no-lines>
        <button menuClose icon-only ion-item detail-none (click)="rightMenuClick(item)" *ngFor="let item of rightMenuItems; let i = index">
          <div *ngIf="item.active" class="active-menu-item"></div>
          <ion-icon [name]="item.icon"></ion-icon>
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
 
  -->

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
