page-propose-event {

}

.myview_proposedEvent{
 //   background-image: url('../assets/imgs/MainBackground_1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.avatarPicture {
  display: -webkit-box;
  margin: 0 auto;
  width: 150px;
  height: 103px;
}