<!--
  Generated template for the ProposeEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header style="height: 50px;
  background-color: #906DA7;">

  <ion-icon item-right class="optionsStyle pop-in" (click)="dismiss()" name="close"></ion-icon>


  <ion-title style="width: 66vw; position: relative; top: 11px;">
    <span style="font-size: 17px;color: white; font-weight: bold">Proposer
      un événement</span>
  </ion-title>
</ion-header>

<ion-content class="myview_proposedEvent" padding>

  <ion-list>
    <form [formGroup]="proposeEventForm" (ngSubmit)="onSubmit(proposeEventForm.value)">

      <ion-item no-lines>
        <!--   <ion-label floating>E-mail</ion-label> -->
        <ion-input placeholder="Nom de l'événement" formControlName="eventTitle" type="text"></ion-input>
      </ion-item>

      <ion-item
        *ngIf="proposeEventForm.controls.eventTitle.hasError('required') && proposeEventForm.controls.eventTitle.touched" no-lines>
        <p>Ce champs est obligatoire!</p>
      </ion-item>


      <ion-item (click)="openCalendar()" no-lines>
        <ion-label style="color: black">
          <ion-icon name="calendar" item-left></ion-icon>
        </ion-label>
        <ion-label style="position: relative;    left: -98px;
        color: #9c9c9c;
        font-weight: bold;">
          {{dateLabel}}
        </ion-label>
      </ion-item>

      <ion-item no-lines>
        <ion-label>
          <ion-icon  style="color: black" name="time" item-left>
          </ion-icon>
        </ion-label>
        <ion-datetime style="position: relative;float: left; color: black" name="eventStartHour" type="time"
          placeholder="Heur de debut" displayFormat="HH:mm" formControlName="eventStartHour"></ion-datetime>

        <ion-datetime style="position: relative;float: right; color: black" name="eventEndHour" type="time" placeholder="Heur de fin"
          displayFormat="HH:mm" formControlName="eventEndHour"></ion-datetime>

      </ion-item>


      <ion-item
        *ngIf="proposeEventForm.controls.eventStartHour.hasError('required') && proposeEventForm.controls.eventStartHour.touched" no-lines>
        <p>Ce champs est obligatoire!</p>
      </ion-item>



      <ion-item no-lines>
        <ion-label>Categorie</ion-label>
        <ion-select formControlName="eventCategory" multiple="false">
          <ion-option *ngFor="let filter of allfilters">{{filter.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item
        *ngIf="proposeEventForm.controls.eventCategory.hasError('required') && proposeEventForm.controls.eventCategory.touched" no-lines>
        <p>Ce champs est obligatoire!</p>
      </ion-item>


      <ion-item no-lines>
        <!--   <ion-label floating>E-mail</ion-label> -->
        <ion-input placeholder="Location" formControlName="eventLocation" type="text"></ion-input>
      </ion-item>


      <ion-item
        *ngIf="proposeEventForm.controls.eventLocation.hasError('required') && proposeEventForm.controls.eventLocation.touched" no-lines>
        <p>Ce champs est obligatoire!</p>
      </ion-item>

      <ion-item no-lines>
        <!--   <ion-label floating>E-mail</ion-label> -->
        <ion-input placeholder="Nombre participants" formControlName="eventNbrParticipants" type="text"></ion-input>
      </ion-item>

      <ion-item
        *ngIf="proposeEventForm.controls.eventNbrParticipants.hasError('required') && proposeEventForm.controls.eventNbrParticipants.touched" no-lines>
        <p>Ce champs est obligatoire!</p>
      </ion-item>

      <ion-item no-lines>
        <ion-label>
          Uploader une photo &nbsp; &nbsp;
          <ion-fab>
            <ion-icon (click)="changePicture()" name="camera"></ion-icon>
          </ion-fab>
        </ion-label>

      </ion-item>

      <ion-item no-lines>
        <img class="avatarPicture" [src]="chosenPicture || placeholder"
          onerror="this.src='assets/img/defaultsEvent.png'" />
      </ion-item>

      <ion-item no-lines>
        <!--   <ion-label floating>E-mail</ion-label> -->
        <ion-textarea placeholder="Description" formControlName="eventDescription" type="text"></ion-textarea>
      </ion-item>

      <ion-item (click)="openCommunityList()" no-lines>
        <ion-label>
          Paratger avec vos communauté &nbsp; &nbsp;
          <ion-fab>
            <ion-icon name=""></ion-icon>
          </ion-fab>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="validateCommubities != ''" no-lines>
        <p>{{validateCommubities}}</p>
      </ion-item>

      <ion-item no-lines>
        <ion-label style="position: relative; left:-14%">Publique</ion-label>
        <ion-toggle formControlName="eventIsPublic" color="success"></ion-toggle>
      </ion-item>


      <ion-row>
        <ion-col col-12 text-center>
          <div class="center">
            <button ion-button [disabled]="!proposeEventForm.valid" type="submit" style="background-color: #E96FA1;">
              Cree
            </button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>

</ion-content>