<ion-header style="height: 50px;
  background-color: #48d7e4;">

  <ion-icon item-right class="optionsStyle pop-in" (click)="dismiss()" name="close"></ion-icon>


  <ion-title style="width: 66vw; position: relative; top: 11px;">
    <span style="font-size: 17px;color: white; font-weight: bold">Modifier mon compte</span>
  </ion-title>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-list>
      <form [formGroup]="editAccountForm" (ngSubmit)="onSubmit(editAccountForm.value)">

        <ion-item>
          <!--   <ion-label floating>E-mail</ion-label> -->
          <ion-input style="color:black" value={{accInfo.lastname}} formControlName="lastName" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <!--   <ion-label floating>E-mail</ion-label> -->
          <ion-input style="color:black" value={{accInfo.firstname}} formControlName="firstName" type="text"></ion-input>
        </ion-item>

        <ion-item *ngIf="accInfo.address != ''">
          <!--   <ion-label floating>E-mail</ion-label> -->
          <ion-input style="color:black" value={{accInfo.address}} formControlName="address" type="text"></ion-input>
        </ion-item>

        <ion-item *ngIf="accInfo.address == ''">
          <!--   <ion-label floating>E-mail</ion-label> -->
          <ion-input style="color:black" placeholder="Entrez votre adresse" formControlName="address" type="text"></ion-input>
        </ion-item>


        <ion-item *ngIf="accInfo.phone != ''">
          <!--   <ion-label floating>E-mail</ion-label> -->
          <ion-input style="color:black" value={{accInfo.phone}} formControlName="phoneNumber" type="text"></ion-input>
        </ion-item>


        <ion-item *ngIf="accInfo.phone == ''">
          <!--   <ion-label floating>E-mail</ion-label> -->
          <ion-input style="color:black" placeholder="Entrez votre numero de mobile" formControlName="phoneNumber" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <!--   <ion-label floating>E-mail</ion-label> -->
          <ion-input style="color:black" value={{accInfo.email}} formControlName="email" type="text"></ion-input>
        </ion-item>

        <ion-item *ngIf="editAccountForm.controls.email.hasError('pattern') && editAccountForm.controls.email.touched">
          <p>Le format de cet email est incorrect !</p>
       </ion-item> 

        <ion-item>
            <!--   <ion-label floating>E-mail</ion-label> -->
            <ion-input style="color:black" placeholder="Confirmer votre e-mail" formControlName="confirmEmail" type="text"></ion-input>
          </ion-item>
  
        <ion-row>
          <ion-col col-12 text-center>
            <div class="center">
              <button ion-button type="submit" [disabled]="!editAccountForm.valid" style="background-color: #48d7e4;">
                Modifier
              </button>
            </div>
          </ion-col>

        </ion-row>

      </form>
    </ion-list>
  </ion-grid>
</ion-content>
