<ion-list class="no-margin">
  <ion-list-header class="no-margin">
    <ion-icon name="people" color="primary"></ion-icon>
    <span ion-text color="primary" class="bold">Filtres de mes contactss</span>
  </ion-list-header>

  <ion-item *ngIf="allCommunities.length > 1">
    <ion-avatar item-start (click)="getFilterContact('all')">
      <img ion-img style="border-radius: 12%;" [src]='url + "/uploads/defaultEventImage.jpeg"' />
    </ion-avatar>
    <span ion-text (click)="getFilterContact('all')">
      Afficher tout
    </span>
  </ion-item>
  
  <ion-item *ngIf="allCommunities.length == 0">
    <ion-avatar item-start>
      <img ion-img style="border-radius: 12%;" [src]='url + "/uploads/defaultEventImage.jpeg"' />
    </ion-avatar>
    <ion-label>
      Vous avec une seul communauté
    </ion-label>
  </ion-item>

  <ion-list class="no-margin" no-padding *ngFor="let community of allCommunities">
    <ion-item>
      <ion-avatar item-start (click)="getFilterContact(community.communityId)">
        <img ion-img style="border-radius: 12%;" [src]='url + "/" + community.communityLogo' />
      </ion-avatar>
      <ion-label (click)="getFilterContact(community.communityId)">
        {{community.communityName}}
      </ion-label>
    </ion-item>

  </ion-list>
