<ion-header>
  <ion-navbar style="color: black">
    <ion-title>Modifier le mot de passe</ion-title>
    <ion-buttons end (click)="dismiss()">
      <button ion-button icon-only>
        <ion-icon color="primary" name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding fullscreen>

  <form [formGroup]="modifyPasswordForm" (ngSubmit)="onSubmit(modifyPasswordForm.value)">
   
    <ion-item>
      <!--   <ion-label floating>E-mail</ion-label> -->
      <ion-input style="color:silver" placeholder="Ancien mot de passe" formControlName="oldPassword" type={{passwordType}}>
      </ion-input>
    </ion-item>

    <ion-item *ngIf="modifyPasswordForm.controls.oldPassword.hasError('required') && modifyPasswordForm.controls.oldPassword.touched">
      <p>Ce champs est obligatoir!</p>
    </ion-item>

    <ion-item>
      <!--   <ion-label floating>E-mail</ion-label> -->
      <ion-input style="color:silver" placeholder="Nouveau mot de passe" formControlName="newPassword" type={{passwordType}}></ion-input>
    </ion-item>

    <ion-item *ngIf="modifyPasswordForm.controls.newPassword.hasError('minlength') && modifyPasswordForm.controls.newPassword.touched">
      <p style="position: relative;">Desole, la taille minimal est 8 characteres!</p>
    </ion-item>

    <ion-item *ngIf="modifyPasswordForm.controls.newPassword.hasError('required') && modifyPasswordForm.controls.newPassword.touched">
      <p>Ce champs est obligatoir!</p>
    </ion-item>

    <ion-item>
      <!--   <ion-label floating>E-mail</ion-label> -->
      <ion-input style="color:silver" placeholder="Confirmer le mot de passe" formControlName="confirmPassword" type={{passwordType}}></ion-input>
    </ion-item>

    <ion-item *ngIf="modifyPasswordForm.controls.confirmPassword.hasError('required') && modifyPasswordForm.controls.confirmPassword.touched">
      <p>Ce champs est obligatoir!</p>
    </ion-item>


    <ion-item>
      <ion-label> Mot de passe visibilite.</ion-label>
      <button ion-button clear icon-only  color="primary" type="button" item-left (click)="switchVisible()">
        <ion-icon *ngIf="!showPasswordText" name="eye"> </ion-icon>
        <ion-icon *ngIf="showPasswordText" name="eye-off"> </ion-icon>
      </button>
    </ion-item>

    <ion-footer>
      <button [disabled]="!modifyPasswordForm.valid" type="submit" ion-button full style="color:#F6AE45">
        <span style="color:white">Modifier</span>
      </button>
    </ion-footer>

  </form>

</ion-content>
