page-login {

}

.myview{
    background-image: url('../assets/imgs/loginPage.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-login {
    position: relative;
    height: 300px;
    top: 195px;
    background: transparent;
}


.form-login1 {
    background: transparent;
}