page-popover-page-community {
  position: relative;
  float: left;
}

.popoverCommunity {}

.popover-md .popover-content {
  width: 114px;
}


.popover-content {
  top: 210.517px;
  left: 116px;
  transform-origin: right top 0px;
  transform: scale(1);
}
