page-event-filter {}

.closeStyle {
  position: relative;
  float: left;
  top: 10px;
  left: 4%;
  font-size: 33px;
  color: floralwhite
}

.item-md.item-toggle ion-label {
  margin-left: 8.5vw;
}

.vlidateStyle {
  position: relative;
  float: right;
  top: 12px;
  right: 4%;
  font-size: 30px;
  color: floralwhite
}
