<ion-header style="height: 50px;
background-color: #48d7e4;">

  <ion-icon style="z-index: 2222" class="closeStyle" (click)='closeFilterModal()' name="close-circle"></ion-icon>

  <ion-icon class="vlidateStyle" (click)='closeConfirmModal()' name="checkmark-circle"></ion-icon>

  <ion-title style="width: 49vw; position: relative; top: 15px; left: 19vw;">
    <span style="font-size: 17px;color: white; font-weight: bold">Liste des filtres</span>
  </ion-title>

</ion-header>

<ion-content class="outer-content" fullscreen>


  
  <ion-list style="position: relative; top: 20px">
      <ion-list-header>
          <ion-label>Tri par communauté</ion-label>
        </ion-list-header>
        <ion-item *ngIf="allCommunities.length > 1">
            <ion-label>Tout</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>

        <ion-item *ngIf="allCommunities.length == 1">
            <ion-label>Vous avez une seul communauté</ion-label>
        </ion-item>

        <span *ngFor="let community of allCommunities">
            <ion-item >
                <ion-label>{{community.communityName}}</ion-label>
                <ion-checkbox slot="end"></ion-checkbox>
            </ion-item>
        </span>
 
  </ion-list>

  <ion-list style="position: relative; top: 20px">
    <ion-list-header>
      <ion-label>Tri par catégorie</ion-label>
    </ion-list-header>

    <ion-item>
      <span slot="start" class="dot"></span>
      <ion-label>Tout selectionné</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="selectAllFilters" (ionChange)="selectAllFiltersFunc()" color="success"></ion-checkbox>
    </ion-item>

    <ion-item>
      <span slot="start" class="dot"></span>
      <ion-label>Publique</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="filterList.PublicValue" color="success"></ion-checkbox>
    </ion-item>

    <ion-item>
      <span slot="start" class="dot"></span>
      <ion-label>Sports</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="filterList.SportValue" color="success"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Arts</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="filterList.ArtsValue" color="success"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Culture</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="filterList.cultureValue" color="success"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Media</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="filterList.MediaValue" color="success"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Music</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="filterList.musicValue" color="success"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Social</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="filterList.socialValue" color="success"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>International</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="filterList.internValue" color="success"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Business</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="filterList.businessValue" color="success"></ion-checkbox>
    </ion-item>


    <ion-item>
      <ion-label>Communite</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="filterList.communityValue" color="success"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Sante</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="filterList.santeValue" color="success"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Science et technologie</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="filterList.itValue" color="success"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Style de vie</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="filterList.lifestyleValue" color="success"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Fete</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="filterList.partyValue" color="success"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Meeting</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="filterList.meetingValue" color="success"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Workshop</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="filterList.WorkshopValue" color="success"></ion-checkbox>
    </ion-item>


  </ion-list>

</ion-content>
