<!--
  Generated template for the PopupUserDetailModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content fullscreen [ngStyle]="{'background-image': 'url(' + coverImage +')'}">

  <ion-list>
    <ion-row>
      <ion-col col-12 text-center>
        <div class="center">
          <span *ngIf="tabParams.check == 1">
            <img style="width: 50%; height: 50%;" [src]='url + "/" + user.participantPhoto' />
          </span>
          <span *ngIf="tabParams.check == 0">
            <img style="width: 50%; height: 50%;" [src]='url + "/" + user.profilePhoto' />
          </span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 text-center>
        <div style="font-size: 26px; color:white; z-index: 111;" class="center">
          <span *ngIf="tabParams.check == 1">
            <p>{{user.participantname}}</p>
          </span>
          <span *ngIf="tabParams.check == 0">
            <p>{{user.profileLastname}} {{user.profileFirstname}}</p>
          </span>
        </div>
      </ion-col>
    </ion-row>

  </ion-list>
</ion-content>


<ion-footer>
  <div class="row">
    <button (click)="dismiss()" ion-button style="color: wite; background-color:deeppink;"
      class="col col-50 button button-block">
      Okay
    </button>
  </div>
</ion-footer>
