page-event-details {

  .img-scroll {
    height: 63px;
    width: 57px;
    position: relative;
    bottom: 10px;
    border-radius: 100%;
}

  .item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
    margin: -38px 26px 9px 0;
}

  .item ion-thumbnail {
    width: 10rem;    
    height: 10rem;
    img {
      width: 10rem;
      height: 15rem;
    }
  }


.bar-sep {

}

.subscribedClass {
    > div{
        background-color: black !important;
    }
}


.toolbar-title-md {
  padding: 0 12px;
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  color: white;
  background-color: transparent;
}


.styleParticipants {
  margin-top: 11px;
  color: rgb(204, 162, 184);
  font-weight: bolder;
  font-size: 17px;
  font-family: sans-serif;
}




.img-scroll-add {
    height: 33px;
    width: 27px;
    position: relative;
    bottom: 20px;  
}

.scroll-zoom-wrapper {
    margin-top: 19px;
}

page-popup-modal {
  ion-modal,
  .show-page {
    // transparent black background overlay
    background-color: rgba(0, 0, 0, .5) !important;
    padding: 50px !important;
  }
  .toolbar-background {
    color: red !important;
  }
  ion-modal.modal-wrapper {
    transform: translateY(30%) !important;
  }
  ion-page.modal {
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
  }
  .modal-backdrop-bg {
    background-color: #000;
    opacity: 0;
  }
  .active .modal-backdrop-bg {
    opacity: 0.5;
  }
}

ion-modal.inset-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding: 20vh 10vw;
}



}
