<!--
  Generated template for the EventDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{eventDetails.eventName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen elestic-header>
  <ion-card>

    <img [src]='url + "/" + eventDetails.eventPhoto' />

    <ion-card-content>
      <ion-item>
        <ion-icon style=" color: #46a4da; font-size: 2.1em" name="calendar"></ion-icon>
        <span style="font-size: 1 .9em;text-align: left; margin-left: 30px ">{{eventDetails.eventStartDate.substring(8,
          10)}}</span>
        <span style="text-align: left;">{{months[eventDetails.eventStartDate.substring(5, 7) - 1]}}</span>
        a {{eventDetails.eventStartHour}}

      </ion-item>

      <ion-item>
        <ion-icon style=" color: #46a4da; font-size: 2.1em" name="calendar"></ion-icon>
        <span style="font-size: 1 .9em;text-align: left; margin-left: 30px ">{{eventDetails.eventEndDate.substring(8,
          10)}}</span>
        <span style="text-align: left;">{{months[eventDetails.eventEndDate.substring(5, 7) - 1]}}</span>
        a {{eventDetails.eventEndHour}}

      </ion-item>

      <ion-item>
        <ion-icon style=" color: #46a4da; font-size: 2.1em" name="compass"></ion-icon>
        <span style="font-size: 1 .9em;text-align: left; margin-left: 30px ">{{eventDetails.eventLocation}}</span>

      </ion-item>

      <ion-item>
        <b>Description : </b>

        <p>
          {{eventDetails.eventDescription}}
        </p>
      </ion-item>
    </ion-card-content>

  </ion-card>

<ion-item>
    <ion-row>
        <ion-item>
          <b>Participants : </b>
        </ion-item>
        <ion-scroll scrollX="true" style="white-space: nowrap; height: 70px; width: 270px;
              min-height: 100px;">
          <a *ngFor="let participant of eventDetails.participants">
            <img *ngIf='participant != null' class="img-scroll" src='http://si.habee.local:3000/{{participant.participantPhoto}}'>
          </a>
        </ion-scroll>
      </ion-row>
    
</ion-item>

<ion-row no-padding>
    <ion-col text-left>
      <button *ngIf="eventDetails.nbrSubscribedParticipants < eventDetails.nbrParticipants" (click)='subscribeToEvent(eventDetails.eventId)' ion-button clear small color="danger" icon-start>
        <ion-icon  name='people'></ion-icon>
          <span >
            {{isSubscribed}}
          </span>

      </button>


      <button *ngIf="eventDetails.nbrSubscribedParticipants == eventDetails.nbrParticipants"  ion-button clear small color="danger" icon-start>
          <ion-icon  name='people'></ion-icon>
            <span >
                event full
            </span>

        </button>
    </ion-col>
    <ion-col text-center>
      <button (click)="presentActionSheet()" ion-button clear small color="danger" icon-start>
        <ion-icon name='share-alt'></ion-icon>
        Share
      </button>
    </ion-col>
    <ion-col text-right>
      <ion-note style="    top: 8px;
      margin-right: 23px;
      position: relative;
      font-size: 15px;"
        *ngIf="eventDetails.nbrSubscribedParticipants != eventDetails.nbrParticipants">
        <b>{{eventDetails.nbrSubscribedParticipants}}/{{eventDetails.nbrParticipants}}</b>
      </ion-note>

      <ion-note style="    top: 8px;
      margin-right: 23px;
      position: relative;
      font-size: 15px;" *ngIf="eventDetails.nbrSubscribedParticipants == eventDetails.nbrParticipants">
        Full
      </ion-note>
    </ion-col>
  </ion-row>
  

</ion-content>
