page-event-details {
  $black-overlay: rgba(0, 0, 0, .5);
  $text-color: #666;
  $banner-text-color: white;
  $content-color: whitesmoke;
  $detail-background: rgba(236, 236, 236, .8);

  /* Header */
  .toolbar-background {
    border-color: transparent;
    background: $black-overlay;
  }

  .bar-button,
  .toolbar-title {
    color: $banner-text-color;
  }

  /* Image */
  .housing-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
  }

  .toolbar-md {
    padding: 4px;
    min-height: 0px;
  }

  .housing-banner {
    color: $banner-text-color;
    background: $black-overlay;
    height: 10vh;
    width: 100vw;
    position: absolute;
    bottom: -1px;

    .housing-title {
      display: block;
      font-size: 1.2rem;
    }

    .price {
      font-size: 3rem;
    }
  }

  /* Content */
  .content {
    background: $content-color;
  }

  .scroll-content {
    padding-top: 0 !important;
  }

  .main-content {
    color: $text-color;

  }

  .listing-details ion-col {
    padding: 1rem;
    margin: 0.45rem;
    background: $detail-background;

    ion-icon {
      margin-right: .5rem;
    }
  }

  .main-features {
    color: #1aa6d0;
    background-color: white;

    ion-icon {
      font-size: 5.5rem !important;
    }
  }

  .item-block {
    text-align: center;
    display: block;
  }

  .img-scroll {
    height: 63px;
    width: 57px;
    position: relative;
    bottom: 10px;
    border-radius: 100%;
  }

  .item-md ion-avatar[item-left],
  .item-md ion-thumbnail[item-left],
  .item-md ion-avatar[item-start],
  .item-md ion-thumbnail[item-start] {
    margin: -38px 26px 9px 0;
  }

  .item ion-thumbnail {
    width: 10rem;
    height: 10rem;

    img {
      width: 10rem;
      height: 15rem;
    }
  }


  .bar-sep {}

  .subscribedClass {
    >div {
      background-color: black !important;
    }
  }


  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: white;
  }

  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    color: white;
    background-color: transparent;
  }


  .styleParticipants {
    margin-top: 11px;
    color: rgb(204, 162, 184);
    font-weight: bolder;
    font-size: 17px;
    font-family: sans-serif;
  }




  .img-scroll-add {
    height: 33px;
    width: 27px;
    position: relative;
    bottom: 20px;
  }

  .scroll-zoom-wrapper {
    margin-top: 19px;
  }

  page-popup-modal {

    ion-modal,
    .show-page {
      // transparent black background overlay
      background-color: rgba(0, 0, 0, .5) !important;
      padding: 50px !important;
    }

    .toolbar-background {
      color: red !important;
    }

    ion-modal.modal-wrapper {
      transform: translateY(30%) !important;
    }

    ion-page.modal {
      padding: 30px;
      background: rgba(0, 0, 0, 0.5);
    }

    .modal-backdrop-bg {
      background-color: #000;
      opacity: 0;
    }

    .active .modal-backdrop-bg {
      opacity: 0.5;
    }
  }

  ion-modal.inset-modal {
    // transparent black background overlay
    background-color: rgba(0, 0, 0, .5) !important;
    transition: opacity .25s ease-in-out;
    padding: 20vh 10vw;
  }

  * allows the bar-footer to be elastic

  /*
/* optionally set a max-height */
  /* maxlength on the textarea will prevent /*
/* it from getting too large also */
  .bar-footer {
    overflow: visible !important;
  }

  .bar-footer textarea {
    resize: none;
    height: 25px;
  }

  /* fixes an ios bug bear */
  button.ion-android-send {
    padding-top: 2px;
  }

  .footer-btn {
    font-size: x-large;
  }

  img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
  }

  img.profile-pic.left {
    left: 10px;
  }

  img.profile-pic.right {
    right: 10px;
  }

  .ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle;
  }

  .message {
    font-size: 14px;
    color: black
  }

  .message-detail {
    white-space: nowrap;
    font-size: 14px;
    color: black;
  }

  .bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
  }

  .message-wrapper {
    position: relative;
  }

  .message-wrapper:last-child {
    margin-bottom: 0%;
  }

  .chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
  }

  .chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
  }

  .chat-bubble.left {
    background-color: #e6e5eb;
    float: left;
    margin-left: 55px;
    width: 100%;
  }

  .chat-bubble.left:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
  }

  .chat-bubble.right {
    background-color: #158ffe;
    color: #fff;
    float: right;
    margin-right: 55px;
  }

  .chat-bubble.right:before {
    background-color: #158ffe;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
  }

  .chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
  }

  .user-messages-top-icon {
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: 5px;
  }

  .msg-header-username {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
  }

  input,
  textarea,
  .item-input,
  .item-input-wrapper {
    background-color: #f4f4f4 !important;
  }

  .bold {
    font-weight: bold;
  }

  .cf {
    clear: both !important;
  }

  a.autolinker {
    color: #3b88c3;
    text-decoration: none;
  }

  /* loading */
  .loader-center {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .loader .ion-loading-c {
    font-size: 64px;
  }


}
