page-event-details {

}

.bar-sep {

}

.subscribedClass {
    > div{
        background-color: black !important;
    }
}


.img-scroll {
    height: 63px;
    width: 57px;
    position: relative;
    bottom: 10px;  
}

.img-scroll-add {
    height: 33px;
    width: 27px;
    position: relative;
    bottom: 20px;  
}

.scroll-zoom-wrapper {
    margin-top: 19px;
}

page-popup-modal {
  ion-modal,
  .show-page {
    // transparent black background overlay
    background-color: rgba(0, 0, 0, .5) !important;
    padding: 50px !important;
  }
  .toolbar-background {
    color: red !important;
  }
  ion-modal.modal-wrapper {
    transform: translateY(30%) !important;
  }
  ion-page.modal {
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
  }
  .modal-backdrop-bg {
    background-color: #000;
    opacity: 0;
  }
  .active .modal-backdrop-bg {
    opacity: 0.5;
  }
}

ion-modal.inset-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding: 20vh 10vw;
}


