page-my-events {
    img {
        max-width: 10.6rem !important;
        max-height: 10.6rem !important;
      }
}

.myview_myevents{
    background-image: url('../assets/imgs/MainBackground_1.png');
    background-repeat: no-repeat;
    background-size: cover;
}