page-add-contact {
      
    .myview_events {
        background-image: url('../assets/imgs/MainBackground_1.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
      
      
      .eventFooter {
        position: relative;
        height: 65px;
      }
      
      .menuStyle {
        position: relative;
        float: left;
        top: 6px;
        left: 4%;
        font-size: 40px;
        color: floralwhite
      }
      
      
      .optionsStyle {
        position: relative;
        float: right;
        top: 12px;
        right: 4%;
        font-size: 30px;
        color: floralwhite
      }
      
      .toolbar-background-md {
        background-color: #5cbcc1;
        ;
      }
}

.fab-md {
    color: E96FA1
}