page-events {}

.myview_events {
  background-image: url('../assets/imgs/MainBackground_1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 47%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    left: -2px;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    bottom: 10%;
    left: 25%;
    width: 100%;
    color: #fff;
  }

}

.timeStyle {
  font-size: 1.4em;
  position: absolute;
  display: inline-block;
  color: #3594cb;
  top: 46px;
  left: 200px;
}

.eventFooter {
  position: relative;
  height: 65px;
}
